.signup-page {
    width: 500px;
    height: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.signup-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-page .input-username-row {
    margin-bottom: 15px;
}


.signup-page .input-password-row{
    margin-bottom: 15px;
}

.signup-page .input-email-row{
    margin-bottom: 15px;
}

.signup-page button {
    display: block;
    width: 100px;
    margin: 10px auto; /* This will center the button */
}
